[Unit]
Description=MovieRoulletteServer
After=network.target
StartLimitIntervalSec=0

[Service]
RestartSec=2s
ExecStart=/home/ubuntu/server/vaporMovieRoullette/.build/release/Run
Restart=always

[Install]
WantedBy=multi-user.target





